[submodule "sem_3/Graphics_Prog1/RayTracer"]
	path = sem_3/Graphics_Prog1/RayTracer
	url = https://github.com/ozikov/RayTracer.git
[submodule "sem_3/Graphics_Prog1/Rasterizer"]
	path = sem_3/Graphics_Prog1/Rasterizer
	url = https://github.com/ozikov/Rasterizer.git
[submodule "sem_3/Graphics_Prog1/rasterizerHardware"]
	path = sem_3/Graphics_Prog1/rasterizerHardware
	url = git@github.com:ozikov/rasterizerHardware.git
[submodule "sem_3/Gameplay_Prog/GPP_Exam/ResearchTopic/Flow-field-pathfinding"]
	path = sem_3/Gameplay_Prog/GPP_Exam/ResearchTopic/Flow-field-pathfinding
	url = git@github.com:ozikov/Flow-field-pathfinding.git
